<html>
  <head>
    <title>Has Pages</title>
    <%= stylesheet_link_tag 'blueprint' %>
  </head>
  <body>
    <h1>Welcome To Has Pages</h1>
    <p>Please add a layout to your application. /app/views/layouts/application.html.erb</p>
    <%= yield %>
  </body>
</html>