<html>
  <head>
    <title>Has Pages</title>
    <%= render :partial => "layouts/style" %>
  </head>
  <body>
    <h1>Welcome To Has Pages</h1>
    <p>Please add a layout to your application. /app/views/layouts/application.html.erb</p>
    <p>Your pages/index content:</p>
    <%= yield %>
  </body>
</html>