<html>
  <head>
    <title>Has Pages</title>
    <%= render :partial => "layouts/style" %>
  </head>
  <body>
    <h1>Welcome To Has Pages</h1>
    <p>Please override this layout in your application. /app/views/layouts/pages.html.erb</p>
    <%= yield %>
  </body>
</html>